.list{
    display:inline;

}
body {
    background-image: url(./502309.jpg);
    background-size: 3840px 2160px;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #1f1526 ;
    text-align: center;
    color: #429fff;
    
}
* {
    text-align: auto;
    max-width: 650px;
    margin:10px auto;
}
li {
    list-style: none;
}
h1 , h2{
   font-family: "lucida handwriting"; 
}
a.top:link,:visited {
    color:#e4b526;
    margin:3px;
    border:3px solid #e4b526 ;
    text-decoration:none;
    background-color: white;
    padding: 10px 20px;
}
a.top:hover {
    color:white;
    margin:3px;
    border:3px solid white;
    text-decoration:none;
    background-color:#e4b526;
    padding:10px 20px;
}